[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
jupyterlab = "*"
scipy = "*"
nengo = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
nengolib = "*"
e1839a8 = {path = "."}
detailed-neurons = {path = "."}
hyperopt = "*"
tornado = "*"

[requires]
python_version = "3.6"
